## Multiple categorical variables

### Use the `crosstab` function to create contingency tables with multiple categorical variables.

In [2]:
import pandas as pd

In [3]:
# Check Sample.csv File for Data
data=pd.read_csv(r"C:\Users\anura\OneDrive\Desktop\BrainyBeams\DataScience_Task-3_Anurag\Code\Sample.csv")

In [4]:
df=pd.DataFrame(data)

In [5]:
table = pd.crosstab(
    [df['Gender'], df['Age Group']],    # ->Rows
    df['Product Purchased'],            # ->Columns
    margins=True      
)

In [6]:
table

Product Purchased  No  Yes  All
Gender Age Group
Female Adult        1    0    1
       Senior       0    3    3
       Young        0    1    1
Male   Adult        1    1    2
       Senior       1    0    1
       Young        1    1    2
All                 4    6   10